



body {
    background-color: rgb(75, 161, 231);
}

header {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: bold;
}

img {
    box-shadow: 1px 1px 1px lightblue;
    border: 1px outset rgb(75, 161, 231);
    border-radius: 3%;
    transition: 2s;
    
}

img:hover {
    box-shadow: 5px 5px 20px lightblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item-nav {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
}

