


/*change background color of pages, make body a column layout and make the footer reach bottom of the screen*/
body {
    background-color: rgb(75, 161, 231);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*center the header*/
header {
    text-align: center;
}

/*make nav a column and spread out elements*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*remove underline from links and bold*/
a {
    text-decoration: none;
    font-weight: bold;
}

/*make image rounded and shadowed*/
img {
    box-shadow: 1px 1px 1px lightblue;
    border: 1px outset rgb(75, 161, 231);
    border-radius: 3%;
    transition: 2s;
    
}

/*on hover image is emphasized*/
img:hover {
    box-shadow: 5px 5px 20px lightblue;
}

/*make grid to evenly align content*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

/*column, center and wrap items*/
.grid-item-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


.grid-item-nav {
    display: flex;
    justify-content: center;
}

/*centers text and content in screen*/
footer {
    text-align: center;
    margin-top: auto;
}

/*center, margin, round border and background color*/
.schedule {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 5px;
}

/*make hr full width*/
hr {
    width: 100%;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    width: 80%;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 5px;
} 
  
.column {
    display: inline;
}

.img1 {
    max-width: 80%;
    margin: auto;
}



